<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    <h1>List of Tasks</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Task text</th>
                <th>Turns for Task</th>
                <th>Task answer</th>
                <th>Task_id</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.text }}</td>
                    <td>{{ task.turns }}</td>
                    <td>{{ task.answer }}</td>
                    <td>{{ task.task_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>